:root{
    --main: rgb(151, 69, 133);
    --forms: rgb(51, 22, 44);
    --forms2: rgb(78, 41, 70);
    --border: rgb(243,17,186);
    --gambling: rgb(231, 231, 231);
    --gambling2: #B6C2C0;
    --gambling3: #8f0A88;
}
body{
    background-color: var(--gambling2);
    font-family: Verdana;
    margin: 0;
    padding: 0;
}
.formularze{
    height: auto;
    width: 100%;
    float: left;

    position: fixed;
}
.content{
    background-color: var(--gambling);
    margin: auto;  
    margin-top: 15%;
    width: 50%;
    border: 3px solid var(--gambling3);
    padding: 10px;
}
.upload, .check{
    /* margin-left: 30%; */
    display: flex;
    justify-content: center;
}

.check{
    padding-right: 5rem;
}

.upload>*:first-child, .check>*:first-child{
    color: rgba(77, 77, 73, 0.781);
    align-self: stretch;
    margin-right: 50px;
}
.upload .formInfo, .check .formInfo{
    align-self: center;
}

